* {
    margin: 0px;
    padding: 0px;
}
.title {
    text-align: center;
    padding: 25px 30px;
    font-size: 60px;
}
.header {
    background-color: dodgerblue;
    color: white;
    display: block;
}
.options {
    display: flex;
    background-color:rgb(	65,105,225);
    color: white;
    align-items: center;
}